#header-img {
  width: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 0.6rem;
}

#nav-bar ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-link {
  list-style: none;
}
.nav-link a {
  text-decoration: none;
  color: black;
}
